<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WayOfMath"
        tools:targetApi="31">
        <activity
            android:name=".level5"
            android:exported="false" />
        <activity
            android:name=".phase2"
            android:exported="false" />
        <activity
            android:name=".ph1completed"
            android:exported="false" />
        <activity
            android:name=".division"
            android:exported="false" />
        <activity
            android:name=".multipication"
            android:exported="false" />
        <activity
            android:name=".phase1"
            android:exported="false" />
        <activity
            android:name=".subtraction"
            android:exported="false" />
        <activity
            android:name=".homeactivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>